.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: #001236;
}
.row {
  display: flex;
  flex-direction: row;
}
.cell {
  min-width: 100px;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  color: #92b4f4;
  cursor: pointer;
}
.b-bottom-right {
  border-bottom: 4px solid rgb(1, 135, 183);
  border-right: 4px solid rgb(1, 135, 183);
}
.b-right {
  border-right: 4px solid rgb(1, 135, 183);
}
.b-bottom {
  border-bottom: 4px solid rgb(1, 135, 183);
}
.buttonDiv {
  margin-top: 20px;
  width: 300px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.turnmsg {
  font-size: 20px;
  color: #4ea8de;
  font-weight: bold;
}
