@import url("https://fonts.googleapis.com/css2?family=Mali&display=swap");
* {
  padding: 0px;
  margin: 0px;
  color: #dee2e6;
  font-family: "Mali", cursive;
}
h1 {
  margin: 20px 0px;
}
button {
  background-color: #001f4d;
  padding: 15px;
  color: #01a1d6;
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
button:hover {
  background-color: #01245a;
}
